<ion-header>
    <ion-navbar>
        <ion-title start>Hoteling - McKinley</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="onSelectHome()">
                <ion-icon name="pin"></ion-icon>
            </button>
            <button ion-button icon-only (click)="onShowNotification()">
                <ion-icon name="notifications"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding show-on-scroll="scroll-fab-mck">
    <ion-fab right bottom id="scroll-fab-mck">
        <button ion-fab (click)="onScrollTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
    </ion-fab>
    <ion-item>
        <ion-label>Filter</ion-label>
        <ion-select [(ngModel)]="listFilter" (ionChange)="onSelectChange($event)">
            <ion-option value="ALL">ALL</ion-option>
            <ion-option *ngFor="let data of empData" [value]="data.id">{{ data.name }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card *ngFor="let cardData of mckData">
        <ion-item [ngClass]="{'highlight': cardData.today}">
            <img width="50" height="50" [src]="dataInfo[cardData.id].img" item-left />
            <p>{{ cardData.dayToday.toDateString() }}</p>
            <p>{{ dataInfo[cardData.id].name }}</p>
        </ion-item>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
